<%provide(:title, 'Help')%>
<html>
<head>
	<title>SPInfoLtd | Help</title>
</head>
<body>
	<h1>SPInfoLtd | Help</h1>
	<h1>StaticPages#help</h1>
	<p>Find me in app/views/static_pages/help.html.erb</p>
</body>
</html>